$bakcground-color: #232D42;
$text-color: #FFF;
$credits-color: #7C9AC0;
$author-color: #FFE2A1;
$timer-border: 2px solid $text-color;
$clock-color: #19202E;
$start-border: 2px solid $text-color;
$label-color: #0E121A;